numpy==1.17.0
Flask_SocketIO==4.2.0
html2text==2018.1.9
Jinja2==2.10.1
requests==2.22.0
APScheduler==3.6.1
requests_html==0.10.0
selenium==3.141.0
Flask==1.1.1
toml==0.10.0
jieba==0.39
langdetect==1.0.7
opencv_python==4.1.0.25
beautifulsoup4==4.8.0
python_daemon==2.2.3
