<!DOCTYPE html>
<html>

<head>
  <title>Markdown, Please!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="EnjoySearch 喜欢搜索，快速高效搜索引擎工具" />
  <!-- <link rel=stylesheet href="{{ url_for('static', filename='skeleton.css') }}/> -->
  <link href="https://cdn.bootcss.com/skeleton/2.0.4/skeleton.min.css" rel="stylesheet">

</head>

<body>

  <div class="container">
    <h1>Markdown, Please!</h1>
    <h6>A <a href='https://www.readmorejoy.com/'>Jiang Zhixiang</a> project. Here is our ReadMoreJoy <a href='https://search.readmorejoy.com/'>EnjoySearch</a>.</h6>

    <p><strong>Markdown, Please!</strong> is a service that instantly converts websites into <a href="https://daringfireball.net/projects/markdown/">Markdown</a>.</p>
    <p>To get started: enter any URL, hit "Markdown, Please!", and you will be presented with a Markdown version of the URL you provided.</p>

    <form action="/markdown" method="get">
      (Option) We use <a href="https://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a> to get find content, browse Inspect, example parameter is: div id="content" or div class="article" etc.<br>
      <strong>Param</strong>: <input type="text" name="param" size="80"><br>
      <strong>&nbsp;&nbsp;URL</strong>: <input type="text" name="url" size="80">
      <button type='submit'>Markdown, Please!</button>
    </form>


    <!-- <hr /> -->
    <h4>Bookmarklet</h4>
    <p>Use this bookmarklet to instantly turn any page into Markdown.</p>
    <a class="button" href="javascript:location.href='http://markdown.readmorejoy.com/?url='+encodeURIComponent(document.location.href);">Markdown, Please!</a>
    <!-- <hr /> -->
    <p>&nbsp;</p>
    <h4>"Developer API"</h4>
    <p>This service</p>

    <pre><code><strong>$ curl https://markdown.readmorejoy.com/\?url\=https://www.readmorejoy.com/</strong>
#
</code></pre>
  </div>


</html>
