<!DOCTYPE html>
<html>

<head>
  <title>EnjoySearch 喜欢搜索</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="https://www.readmorejoy.com/static/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="EnjoySearch 喜欢搜索，快速高效搜索引擎工具" />

  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://www.readmorejoy.com/static/reward.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/bootbox.js/5.3.2/bootbox.min.js"></script>

</head>

<body>

  <script type="text/javascript">
    $(document).ready(function() {

      $(".reward-button").click(function() {
        $(".reward-button").hide()
        $(".qr-code").show();
      })
      $(".qr-code").click(function() {
        $(".reward-button").show()
        $(".qr-code").hide();
      })

    });
  </script>

  <div class="container">
    <input type="button" class="btn btn-outline-success" value="首页" onclick="window.location.href=('/')">
    <input type="button" value="更好的搜索" class="btn btn-success" onclick="window.location.href=('/search')">

    <br /><br /><br />
    
    <h5>∗ <a href="https://news.sina.com.cn/gov/xlxw/2019-09-26/doc-iicezueu8527082.shtml" target="_blank">习近平寄语“中国新名片”</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8580842.shtml" target="_blank">人间正道 共和国这样走来</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8583995.shtml" target="_blank">美方通过所谓“台北法案”</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8587157.shtml" target="_blank">加媒指责中俄借文化交流获取情报</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8610627.shtml" target="_blank">中国是否参加日本阅舰式？</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8631546.shtml" target="_blank">国庆节临近 驻港部队有何庆祝活动?</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezueu8584525.shtml" target="_blank">不只遭弹劾调查 特朗普还面临一场“反攻”</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezueu8546882.shtml" target="_blank">回应：真是个笑话</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/xl/2019-09-25/doc-iicezzrq8387774.shtml" target="_blank">习近平对“最美奋斗者”评选表彰和学习宣传活动作出指示</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-25/doc-iicezzrq8399215.shtml" target="_blank">澳总理称中国应视作发达国家</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-25/doc-iicezueu8359396.shtml" target="_blank">马绍尔群岛发表支持台湾当局声明</a> sina</h5>
    
    <h5>∗ <a href="https://mil.news.sina.com.cn/china/2019-09-25/doc-iicezueu8218306.shtml" target="_blank">排水量4万吨仅中美两国能造出来(图)</a> sina</h5>
    
    <h5>∗ <a href="https://mil.news.sina.com.cn/china/2019-09-25/doc-iicezueu8217052.shtml" target="_blank">香槟酒瓶在左舷敲碎(图)</a> sina</h5>
    
    <h5>∗ <a href="http://slide.ent.sina.com.cn/star/slide_4_704_322665.html" target="_blank">郭富城方媛疑为二女儿办出生证明</a> sina</h5>
    
    <h5>∗ <a href="https://ent.sina.com.cn/v/h/2019-09-26/doc-iicezzrq8467414.shtml" target="_blank">曝无线未联络黄心颖宣传新剧</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8538148.shtml" target="_blank">商务部:不可靠实体清单制度不是针对任何一国企业</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8558085.shtml" target="_blank">国庆阅兵女将军领队曝光 含新中国首位女飞行师长</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8537035.shtml" target="_blank">万亿级地方国企董事长王凤朝任四川副省长(图)</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8455217.shtml" target="_blank">近两年“活捉满广志”口号在全军叫得很响 咋回事</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-25/doc-iicezzrq8356748.shtml" target="_blank">张志军被提名为吉林省副省长(图/简历)</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/o/2019-09-25/doc-iicezueu8302612.shtml" target="_blank">国庆联欢活动总导演是张艺谋</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-25/doc-iicezueu8303701.shtml" target="_blank">游行群众含快递小哥</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/zx/2019-09-25/doc-iicezueu8319010.shtml" target="_blank">北京大兴国际机场正式通航 7架大型客机依次起飞</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-25/doc-iicezzrq8401603.shtml" target="_blank">多次破格提拔的他 通过妹妹和情人捞钱</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-25/doc-iicezzrq8406170.shtml" target="_blank">曾被公安局纪委书记GPS定位跟踪的官员被双开(图)</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8539918.shtml" target="_blank">任正非：5G不是授权所有西方公司 而是一家美企</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8474547.shtml" target="_blank">云南原书记秦光荣被开除党籍：发表违背中央精神言论</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8612180.shtml" target="_blank">这名省部级被查半年前还收钱 庭审时满头白发(图)</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezueu8540015.shtml" target="_blank">外媒：沙特王储称对卡舒吉谋杀事件承担全部责任</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-25/doc-iicezzrq8389709.shtml" target="_blank">湖南公安厅为演员大兵发奖</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-25/doc-iicezzrq8407411.shtml" target="_blank">家门口曾被恶势力喷字</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/o/2019-09-25/doc-iicezueu8270892.shtml" target="_blank">距台湾最近大桥贯通 系世界最长公铁两用跨海桥(图)</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-25/doc-iicezzrq8240188.shtml" target="_blank">法媒就这事终于反应过来：我们要感谢中国</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-25/doc-iicezueu8332528.shtml" target="_blank">以色列边境到底在哪?埃尔多安在联合国晒出这张图</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezueu8585555.shtml" target="_blank">&#34;世界上最美的未嫁公主&#34;订婚了 未婚夫是亿万富翁</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8603303.shtml" target="_blank">国庆前夕 这部10年前的中国电视剧突然走红伊拉克</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/s/2019-09-26/doc-iicezueu8422560.shtml" target="_blank">小伙吃螃蟹后肺和脑子被虫啃 这个教训现在看不晚</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8510058.shtml" target="_blank">香港顶级开发商免费送土地给市民 拿出27万平方米</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-25/doc-iicezueu8265222.shtml" target="_blank">中国石化在鄂尔多斯盆地又发现“千亿方大气田”</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/s/2019-09-25/doc-iicezueu8335592.shtml" target="_blank">深圳一小学老师被举报收礼 家长帮辩护并联名挽留</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/s/2019-09-25/doc-iicezzrq8227101.shtml" target="_blank">男子用方便面修iPhone11震惊老外 网友：太神奇</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/s/2019-09-25/doc-iicezueu8298642.shtml" target="_blank">吴小晖名下四套别墅网拍 出价记录却是个位数(图)</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/zx/2019-09-26/doc-iicezueu8573190.shtml" target="_blank">法前总统希拉克逝世</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezzrq8642574.shtml" target="_blank">曾预测:中国必将成世界第一</a> sina</h5>
    
    <h5>∗ <a href="http://finance.sina.com.cn/zt_d/rzfhw_12/" target="_blank">任正非：华为真活下来了 明年上半年财报还会好</a> sina</h5>
    
    <h5>∗ <a href="https://finance.sina.com.cn/chanjing/gsnews/2019-09-26/doc-iicezueu8515938.shtml" target="_blank">全球第一家旅行社破产启示录:存世178年 负债141亿元</a> sina</h5>
    
    <h5>∗ <a href="http://news.sina.com.cn/zxt/#305686139" target="_blank">印度医院轮椅突然自己滑走 员工拒上夜班</a> sina</h5>
    
    <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-25/doc-iicezueu8323476.shtml" target="_blank">为何此时弹劾特朗普？美民主党：案情严重且好懂</a> sina</h5>
    
    <h5>∗ <a href="https://finance.sina.com.cn/roll/2019-09-25/doc-iicezueu8283653.shtml" target="_blank">朱文臣7年间从首富到身家缩水百亿 辅仁陷入退市风险</a> sina</h5>
    
    <h5>∗ <a href="https://finance.sina.com.cn/chanjing/gsnews/2019-09-25/doc-iicezzrq8326513.shtml" target="_blank">富力陷质量旋涡：西溪悦墅项目竟用塑料袋替代水泥</a> sina</h5>
    
    <h5>∗ <a href="http://video.sina.com.cn/news/spj/topvideos20190925/#305561179" target="_blank">乌克兰22岁女子伪装成6岁孩童欲毒死养母</a> sina</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343480115_114731?g=0?code=b506cb67bb6850669b6643cb28d127e1" target="_blank">机场、大桥开通，总书记为何这样重视</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343591294_428290?g=0?code=9762374d814e8b8c6daff01985324999" target="_blank">习近平寄语“中国新名片”</a> sohu</h5>
    
    <h5>∗ <a href="https://www.sohu.com/a/343592457_585752?g=0?code=dd8c169cd8c5b7d1e811b22568414f6a" target="_blank">人间正道，共和国这样走来</a> sohu</h5>
    
    <h5>∗ <a href="https://www.sohu.com/a/343592638_585752?g=0?code=22965bda8184fab98db9ca5fb55e8cf5" target="_blank">创意纸模微视频：点亮中国</a> sohu</h5>
    
    <h5>∗ <a href="http://www.qstheory.cn/zt2019/llxjj/index.htm?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">理上网来</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343503889_115376?code=38dc49a9bc324733fe4139ec33a5beb9" target="_blank">56个民族同唱这首歌</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343442495_362042?g=0?code=b22373bba32a02ab0132be8016d1289b" target="_blank">未来之中国 必将以更加开放的姿态拥抱世界</a> sohu</h5>
    
    <h5>∗ <a href="http://tv.cctv.com/2019/09/25/VIDEwKmXYJf7CANUPDc91qHL190925.shtml?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">《我们走在大路上》第19集</a> sohu</h5>
    
    <h5>∗ <a href="http://tv.cctv.com/2019/09/25/VIDE05hdayNT5jOtXWB6UhFg190925.shtml?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">第20集</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343411465_115239?g=0?code=36d972a1a4d12d05a78a593e25699580" target="_blank">最美奋斗者</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343342596_123753?g=0?code=5406362f0d11845337de5a9f88256820" target="_blank">踏平坎坷</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343568073_266317?g=0?code=fdbd53a0c2d53d363e6d843827ab112e" target="_blank">70年伟大成就与中国共产党人的初心使命</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/subject/316812?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">家国70</a> sohu</h5>
    
    <h5>∗ <a href="https://www.sohu.com/subject/317574?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">爱香港</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343425199_114731?g=0?code=2f7213da9ab077018bc4d7cd964e5d47" target="_blank">共同以发展为第一要务</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343394504_162522?g=0?code=57bbb7e056cb50aeb4ac8c70cd57f8c6" target="_blank">环球时报社评</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343633322_115239?g=0?code=3423eab2faf6b898e4fe00f92912afa1" target="_blank">北京大兴国际机场</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343557414_162758?g=0?code=19ac15021611a03ce9aca7b7f9ea441b" target="_blank">边疆党旗红</a> sohu</h5>
    
    <h5>∗ <a href="https://www.sohu.com/a/343631030_585752?g=0?code=db622c1e0e08c39773429a7538bde244" target="_blank">广东24小时</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343309845_362042?g=0?code=ac121fc05f142f7a1aade822565eaa2b" target="_blank">体验京雄城铁</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343631754_162758?g=0?code=4cb21adcbd4d9a2deed519f8c3fe34ab" target="_blank">见证&#34;凤凰&#34;展翅的奇迹</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343596872_114988" target="_blank">九寨沟景区双龙海瀑布首次亮相：因地震后水文变化而形成</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343603938_115402" target="_blank">美参众两院通过“香港法案”人大外事委：强烈谴责</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343597042_100103081" target="_blank">重庆市政府迎来首位“70后”领导 是经济学、法律双料博士</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343493659_123753" target="_blank">交通运输部：国庆长假高速免通行费 但这种车暂不免费</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343598478_114988" target="_blank">国奥掉入“死亡之组”，看过往战绩个个是苦主</a> sohu</h5>
    
    <h5>∗ <a href="https://www.sohu.com/a/343504985_120146415" target="_blank">无人机飞手的广袤世界：群山中的国旗、阿勒泰的河、达卡的人</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343620890_260616" target="_blank">法国极左极右翼政党纷纷悼念希拉克：没有人比他更爱法国</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343611367_162522" target="_blank">外媒：印度尼西亚6.4级地震致至少20人死亡</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343563979_123753" target="_blank">普吉机场：在普吉机场拍飞机 违规最重可判死刑</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343514059_260616" target="_blank">韩国连环杀人案嫌犯:给前妻刻纹身,这样她就不能嫁给别人</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343514803_115479" target="_blank">夏普停止白色家电生产，日媒：63年历史落幕</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343542530_162522" target="_blank">全球变暖！意大利冰川融化坍塌 或将引发大规模冰川崩裂</a> sohu</h5>
    
    <h5>∗ <a href="https://www.sohu.com/picture/343598271" target="_blank">小伙混放音响搅乱广场舞，遭大妈拎砖头狂追</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343481780_120207620" target="_blank">31岁升副厅级的她 成湖北省唯一女副省长</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343491597_260616" target="_blank">到派出所开无犯罪证明被羁押 当事人：不知道自己是逃犯</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343575709_313745" target="_blank">飞天茅台降价了！单瓶一周下跌500元，控价措施显效？</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343554008_115479" target="_blank">218人！美国过半众议员支持弹劾特朗普</a> sohu</h5>
    
    <h5>∗ <a href="http://www.sohu.com/a/343486281_405849" target="_blank">新西兰大学生公寓内去世近两个月，同学闻到气味报警</a> sohu</h5>
    
    <p>

        <div class="post-reward">
  <label class="reward-button" for="reward">赞赏支持</label>
  <div class="qr-code">

    <label class="qr-code-image" for="reward">
      <img class="image" src="https://www.readmorejoy.com/static/wechat-qr-code.png">
      <span>微信打赏</span>
    </label>

    <label class="qr-code-image" for="reward">
      <img class="image" src="https://www.readmorejoy.com/static/alipay-qr-code.jpeg">
      <span>支付宝打赏</span>
    </label>
  </div>
</div>

  </div>

</body>

</html>