<!DOCTYPE html>
<html>

<head>
  <title>EnjoySearch 喜欢搜索</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="https://www.readmorejoy.com/static/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="EnjoySearch 喜欢搜索，快速高效搜索引擎工具" />

  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://www.readmorejoy.com/static/reward.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/bootbox.js/5.3.2/bootbox.min.js"></script>

</head>

<body>

  <script type="text/javascript">
    $(document).ready(function() {

      $(".reward-button").click(function() {
        $(".reward-button").hide()
        $(".qr-code").show();
      })
      $(".qr-code").click(function() {
        $(".reward-button").show()
        $(".qr-code").hide();
      })

    });
  </script>

  <div class="container">
    <input type="button" class="btn btn-outline-success" value="首页" onclick="window.location.href=('/')">
    <input type="button" value="更好的搜索" class="btn btn-success" onclick="window.location.href=('/search')">

    <br /><br /><br />
    {% for post in content %}
    <h6>∗ <a href="{{ post.url }}" target="_blank">{{ post.title }}</a> {{ post.name }}</h6>
    {% endfor %}
    <p>

        {% include "post-reward.html" %}

  </div>

</body>

</html>
