<!DOCTYPE html>
<html>

<head>
  <title>EnjoySearch 喜欢搜索</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="https://www.readmorejoy.com/static/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="EnjoySearch 喜欢搜索，快速高效搜索引擎工具" />

  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://www.readmorejoy.com/static/reward.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/bootbox.js/5.3.2/bootbox.min.js"></script>

</head>

<body>

  <script type="text/javascript">
    $(document).ready(function() {

      $(".reward-button").click(function() {
        $(".reward-button").hide()
        $(".qr-code").show();
      })
      $(".qr-code").click(function() {
        $(".reward-button").show()
        $(".qr-code").hide();
      })

    });
  </script>

  <div class="container">
    <input type="button" class="btn btn-outline-success" value="首页" onclick="window.location.href=('/')">
    <input type="button" value="更好的搜索" class="btn btn-success" onclick="window.location.href=('/search')">

    <br /><br /><br />
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/gov/xlxw/2019-09-27/doc-iicezzrq8746747.shtml" target="_blank">新中国密码:15665 611612</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/gov/xlxw/2019-09-27/doc-iicezzrq8746747.shtml" target="_blank">新中国密码:15665 611612</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/gov/xlxw/2019-09-27/doc-iicezueu8662013.shtml" target="_blank">人间正道是沧桑</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/gov/xlxw/2019-09-27/doc-iicezueu8662013.shtml" target="_blank">人间正道是沧桑</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/gov/xlxw/2019-09-27/doc-iicezzrq8703372.shtml" target="_blank">中国人民一定能</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/gov/xlxw/2019-09-27/doc-iicezzrq8703372.shtml" target="_blank">中国人民一定能</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezzrq8799683.shtml" target="_blank">台竟渲染说是“外交突破”</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezzrq8799683.shtml" target="_blank">台竟渲染说是“外交突破”</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezzrq8582186.shtml" target="_blank">美国宣布制裁中国6家企业及5名个人</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezzrq8582186.shtml" target="_blank">美国宣布制裁中国6家企业及5名个人</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezzrq8603757.shtml" target="_blank">白宫公布特朗普“求帮忙”通话记录(全文)</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezzrq8603757.shtml" target="_blank">白宫公布特朗普“求帮忙”通话记录(全文)</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezueu8618380.shtml" target="_blank">拜登到底干了啥？</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezueu8618380.shtml" target="_blank">拜登到底干了啥？</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezueu8670002.shtml" target="_blank">女民兵方队81位妈妈队员 平均1米72</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezueu8670002.shtml" target="_blank">女民兵方队81位妈妈队员 平均1米72</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezzrq8714669.shtml" target="_blank">他带牺牲战友照片参加阅兵</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezzrq8714669.shtml" target="_blank">他带牺牲战友照片参加阅兵</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/gov/xlxw/2019-09-26/doc-iicezueu8527082.shtml" target="_blank">习近平寄语“中国新名片”</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/gov/xlxw/2019-09-26/doc-iicezueu8527082.shtml" target="_blank">习近平寄语“中国新名片”</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8580842.shtml" target="_blank">人间正道 共和国这样走来</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8580842.shtml" target="_blank">人间正道 共和国这样走来</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8583995.shtml" target="_blank">美方通过所谓“台北法案”</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8583995.shtml" target="_blank">美方通过所谓“台北法案”</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8587157.shtml" target="_blank">加媒指责中俄借文化交流获取情报</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8587157.shtml" target="_blank">加媒指责中俄借文化交流获取情报</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8610627.shtml" target="_blank">中国是否参加日本阅舰式？</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8610627.shtml" target="_blank">中国是否参加日本阅舰式？</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8631546.shtml" target="_blank">新型两栖攻击舰首舰下水有何考虑？</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8631546.shtml" target="_blank">新型两栖攻击舰首舰下水有何考虑？</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezzrq8603757.shtml" target="_blank">特朗普“求帮忙”通话记录公布(全文)</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezzrq8603757.shtml" target="_blank">特朗普“求帮忙”通话记录公布(全文)</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezueu8546882.shtml" target="_blank">特朗普回应：真是个笑话</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezueu8546882.shtml" target="_blank">特朗普回应：真是个笑话</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://ent.sina.com.cn/s/m/2019-09-27/doc-iicezzrq8795157.shtml" target="_blank">沈腾称和杨洋是校草沙溢从来不是</a> -sina </div>

    <!-- <h5>∗ <a href="https://ent.sina.com.cn/s/m/2019-09-27/doc-iicezzrq8795157.shtml" target="_blank">沈腾称和杨洋是校草沙溢从来不是</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://ent.sina.com.cn/s/j/2019-09-27/doc-iicezueu8711698.shtml" target="_blank">具惠善新歌《是否只能死去》</a> -sina </div>

    <!-- <h5>∗ <a href="https://ent.sina.com.cn/s/j/2019-09-27/doc-iicezueu8711698.shtml" target="_blank">具惠善新歌《是否只能死去》</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezzrq8782419.shtml" target="_blank">台主持人当众夸大陆北斗系统:让美国人恨得牙痒痒</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezzrq8782419.shtml" target="_blank">台主持人当众夸大陆北斗系统:让美国人恨得牙痒痒</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8620888.shtml" target="_blank">27名日籍解放军获颁庆祝新中国成立70周年纪念章</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8620888.shtml" target="_blank">27名日籍解放军获颁庆祝新中国成立70周年纪念章</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezzrq8745270.shtml" target="_blank">今年已9次上《新闻联播》 必须给这位老人点赞</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezzrq8745270.shtml" target="_blank">今年已9次上《新闻联播》 必须给这位老人点赞</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezueu8647144.shtml" target="_blank">美媒对比中美这一领域后感慨：中国总是快人一步</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezueu8647144.shtml" target="_blank">美媒对比中美这一领域后感慨：中国总是快人一步</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8538148.shtml" target="_blank">商务部:不可靠实体清单制度不是针对任何一国企业</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8538148.shtml" target="_blank">商务部:不可靠实体清单制度不是针对任何一国企业</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8537035.shtml" target="_blank">万亿级地方国企董事长王凤朝任四川副省长(图)</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8537035.shtml" target="_blank">万亿级地方国企董事长王凤朝任四川副省长(图)</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8474547.shtml" target="_blank">云南原书记秦光荣被开除党籍：发表违背中央精神言论</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8474547.shtml" target="_blank">云南原书记秦光荣被开除党籍：发表违背中央精神言论</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8631191.shtml" target="_blank">又多一人 六个落马“老虎”都曾插手案件处理</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8631191.shtml" target="_blank">又多一人 六个落马“老虎”都曾插手案件处理</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezueu8641720.shtml" target="_blank">“家里有矿”还不够 这个省要一口气修三条高铁</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezueu8641720.shtml" target="_blank">“家里有矿”还不够 这个省要一口气修三条高铁</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/o/2019-09-27/doc-iicezueu8755844.shtml" target="_blank">九连胜:中国女排3-1荷兰 距离世界杯夺冠又进一步</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/o/2019-09-27/doc-iicezueu8755844.shtml" target="_blank">九连胜:中国女排3-1荷兰 距离世界杯夺冠又进一步</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezueu8696386.shtml" target="_blank">台州女书记陈奕君成浙江最年轻副省长(图)</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-27/doc-iicezueu8696386.shtml" target="_blank">台州女书记陈奕君成浙江最年轻副省长(图)</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/w/2019-09-27/doc-iicezueu8638040.shtml" target="_blank">特朗普夸莫迪“印度之父” 没想到引爆印度政坛</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-27/doc-iicezueu8638040.shtml" target="_blank">特朗普夸莫迪“印度之父” 没想到引爆印度政坛</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8539918.shtml" target="_blank">任正非：5G不是授权所有西方公司 而是一家美企</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8539918.shtml" target="_blank">任正非：5G不是授权所有西方公司 而是一家美企</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8455217.shtml" target="_blank">近两年“活捉满广志”口号在全军叫得很响 咋回事</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8455217.shtml" target="_blank">近两年“活捉满广志”口号在全军叫得很响 咋回事</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8612180.shtml" target="_blank">这名省部级被查半年前还收钱 庭审时满头白发(图)</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8612180.shtml" target="_blank">这名省部级被查半年前还收钱 庭审时满头白发(图)</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezueu8540015.shtml" target="_blank">外媒：沙特王储称对卡舒吉谋杀事件承担全部责任</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezueu8540015.shtml" target="_blank">外媒：沙特王储称对卡舒吉谋杀事件承担全部责任</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/s/2019-09-27/doc-iicezzrq8694259.shtml" target="_blank">大兴机场探秘:茶馆卖茶从2分1碗到1200元1壶都有</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/s/2019-09-27/doc-iicezzrq8694259.shtml" target="_blank">大兴机场探秘:茶馆卖茶从2分1碗到1200元1壶都有</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/s/2019-09-27/doc-iicezueu8674769.shtml" target="_blank">司机沪宁高速迎着车流调头逆行 车内女子凄厉尖叫</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/s/2019-09-27/doc-iicezueu8674769.shtml" target="_blank">司机沪宁高速迎着车流调头逆行 车内女子凄厉尖叫</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/s/2019-09-27/doc-iicezueu8638516.shtml" target="_blank">大爷卖了一台废旧洗衣机没想到值10万元 瞬间瘫软</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/s/2019-09-27/doc-iicezueu8638516.shtml" target="_blank">大爷卖了一台废旧洗衣机没想到值10万元 瞬间瘫软</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/s/2019-09-27/doc-iicezzrq8700515.shtml" target="_blank">男子晕倒后查出得了心脏病 医生：跑步跑出来的</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/s/2019-09-27/doc-iicezzrq8700515.shtml" target="_blank">男子晕倒后查出得了心脏病 医生：跑步跑出来的</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezueu8585555.shtml" target="_blank">&#34;世界上最美的未嫁公主&#34;订婚了 未婚夫是亿万富翁</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezueu8585555.shtml" target="_blank">&#34;世界上最美的未嫁公主&#34;订婚了 未婚夫是亿万富翁</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/s/2019-09-26/doc-iicezueu8422560.shtml" target="_blank">小伙吃螃蟹后肺和脑子被虫啃 这个教训现在看不晚</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/s/2019-09-26/doc-iicezueu8422560.shtml" target="_blank">小伙吃螃蟹后肺和脑子被虫啃 这个教训现在看不晚</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/s/2019-09-26/doc-iicezzrq8528044.shtml" target="_blank">潜水员拍摄白鲸将相机掉落 沉入水底神奇一幕发生</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/s/2019-09-26/doc-iicezzrq8528044.shtml" target="_blank">潜水员拍摄白鲸将相机掉落 沉入水底神奇一幕发生</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8510058.shtml" target="_blank">香港顶级开发商免费送土地给市民 拿出27万平方米</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8510058.shtml" target="_blank">香港顶级开发商免费送土地给市民 拿出27万平方米</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/w/2019-09-27/doc-iicezueu8741104.shtml" target="_blank">NASA公布照片：印度失联“月船2号”硬着陆(图)</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/w/2019-09-27/doc-iicezueu8741104.shtml" target="_blank">NASA公布照片：印度失联“月船2号”硬着陆(图)</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://finance.sina.com.cn/china/gncj/2019-09-27/doc-iicezzrq8777240.shtml" target="_blank">人民币破7不敢出境游了？ 教你如何换汇最省钱</a> -sina </div>

    <!-- <h5>∗ <a href="https://finance.sina.com.cn/china/gncj/2019-09-27/doc-iicezzrq8777240.shtml" target="_blank">人民币破7不敢出境游了？ 教你如何换汇最省钱</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://finance.sina.com.cn/roll/2019-09-27/doc-iicezueu8624944.shtml" target="_blank">国庆长假资金不站岗 这五招让你休市也能“钱生钱”</a> -sina </div>

    <!-- <h5>∗ <a href="https://finance.sina.com.cn/roll/2019-09-27/doc-iicezueu8624944.shtml" target="_blank">国庆长假资金不站岗 这五招让你休市也能“钱生钱”</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://news.sina.com.cn/zxt/#305715296" target="_blank">尴尬了!特斯拉警车追捕中没电 无奈放弃</a> -sina </div>

    <!-- <h5>∗ <a href="http://news.sina.com.cn/zxt/#305715296" target="_blank">尴尬了!特斯拉警车追捕中没电 无奈放弃</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://news.sina.com.cn/zx/2019-09-26/doc-iicezueu8573190.shtml" target="_blank">法媒：法国前总统希拉克逝世 享年86岁(图)</a> -sina </div>

    <!-- <h5>∗ <a href="https://news.sina.com.cn/zx/2019-09-26/doc-iicezueu8573190.shtml" target="_blank">法媒：法国前总统希拉克逝世 享年86岁(图)</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://finance.sina.com.cn/zt_d/rzfhw_12/" target="_blank">任正非：华为真活下来了 明年上半年财报还会好</a> -sina </div>

    <!-- <h5>∗ <a href="http://finance.sina.com.cn/zt_d/rzfhw_12/" target="_blank">任正非：华为真活下来了 明年上半年财报还会好</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://finance.sina.com.cn/chanjing/gsnews/2019-09-26/doc-iicezueu8515938.shtml" target="_blank">全球第一家旅行社破产启示录:存世178年 负债141亿元</a> -sina </div>

    <!-- <h5>∗ <a href="https://finance.sina.com.cn/chanjing/gsnews/2019-09-26/doc-iicezueu8515938.shtml" target="_blank">全球第一家旅行社破产启示录:存世178年 负债141亿元</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://news.sina.com.cn/zxt/#305686139" target="_blank">印度医院轮椅突然自己滑走 员工拒上夜班</a> -sina </div>

    <!-- <h5>∗ <a href="http://news.sina.com.cn/zxt/#305686139" target="_blank">印度医院轮椅突然自己滑走 员工拒上夜班</a> -sina</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343779088_267106?g=0?code=8b9021fd8619bbc84edee2676b53bfe1" target="_blank">习近平在全国民族团结进步表彰大会上发表重要讲话</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343779088_267106?g=0?code=8b9021fd8619bbc84edee2676b53bfe1" target="_blank">习近平在全国民族团结进步表彰大会上发表重要讲话</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343757567_585752?g=0?code=f7bc8feb3cb4a891e68c014bf209be2e" target="_blank">新中国密码：15665，611612！</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343757567_585752?g=0?code=f7bc8feb3cb4a891e68c014bf209be2e" target="_blank">新中国密码：15665，611612！</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343672660_114731?g=0?code=b77cf7da5ae8badb89c06b0ec5edf249" target="_blank">人间正道是沧桑</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343672660_114731?g=0?code=b77cf7da5ae8badb89c06b0ec5edf249" target="_blank">人间正道是沧桑</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343704264_428290?g=0?code=958937329b69aa308fe9fbf5e1c21764" target="_blank">中国人民一定能，中国一定行</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343704264_428290?g=0?code=958937329b69aa308fe9fbf5e1c21764" target="_blank">中国人民一定能，中国一定行</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.qstheory.cn/zt2019/llxjj/index.htm?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">理上网来</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.qstheory.cn/zt2019/llxjj/index.htm?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">理上网来</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343740539_428290?code=5add7a546cef839f31553133682a8ebf" target="_blank">庆祝新中国成立70周年活动新闻中心发布会</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343740539_428290?code=5add7a546cef839f31553133682a8ebf" target="_blank">庆祝新中国成立70周年活动新闻中心发布会</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/subject/316812?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">家国70</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/subject/316812?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">家国70</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://www.sohu.com/subject/317574?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">爱香港</a> -sohu </div>

    <!-- <h5>∗ <a href="https://www.sohu.com/subject/317574?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">爱香港</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://tv.cctv.com/2019/09/25/VIDEwKmXYJf7CANUPDc91qHL190925.shtml?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">《我们走在大路上》第19集</a> -sohu </div>

    <!-- <h5>∗ <a href="http://tv.cctv.com/2019/09/25/VIDEwKmXYJf7CANUPDc91qHL190925.shtml?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">《我们走在大路上》第19集</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://tv.cctv.com/2019/09/25/VIDE05hdayNT5jOtXWB6UhFg190925.shtml?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">第20集</a> -sohu </div>

    <!-- <h5>∗ <a href="http://tv.cctv.com/2019/09/25/VIDE05hdayNT5jOtXWB6UhFg190925.shtml?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">第20集</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343757444_238319?g=0?code=5617a250ff705b64d2ce74c7f44df861" target="_blank">共享中国梦</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343757444_238319?g=0?code=5617a250ff705b64d2ce74c7f44df861" target="_blank">共享中国梦</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343769049_119038?g=0?code=2f92fb8cd3ffa1660b8f085752ce4044" target="_blank">税种重大改革</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343769049_119038?g=0?code=2f92fb8cd3ffa1660b8f085752ce4044" target="_blank">税种重大改革</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343738986_115402?g=0?code=b6b23bdc7f58382030c7cfa3e1a6489a" target="_blank">国务院新闻办公室发布《新时代的中国与世界》白皮书</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343738986_115402?g=0?code=b6b23bdc7f58382030c7cfa3e1a6489a" target="_blank">国务院新闻办公室发布《新时代的中国与世界》白皮书</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343787606_585752?g=0?code=d53aca464ab191737a25c0ef8aa224cd" target="_blank">一部MV 唱响对祖国的爱</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343787606_585752?g=0?code=d53aca464ab191737a25c0ef8aa224cd" target="_blank">一部MV 唱响对祖国的爱</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343769048_119038?g=0?code=160b22449529f1c2664254dc26d22125" target="_blank">贵州赤水河流域生态文明制度改革</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343769048_119038?g=0?code=160b22449529f1c2664254dc26d22125" target="_blank">贵州赤水河流域生态文明制度改革</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343805143_260616" target="_blank">台湾人员&#34;混入&#34;联合国边会称取得突破 外交部:贻笑大方</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343805143_260616" target="_blank">台湾人员&#34;混入&#34;联合国边会称取得突破 外交部:贻笑大方</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343715888_123753" target="_blank">1亿人竞争！三四线城市落户零门槛 一二线城市握杀手锏</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343715888_123753" target="_blank">1亿人竞争！三四线城市落户零门槛 一二线城市握杀手锏</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343728455_114988" target="_blank">探秘女民兵方队：有81位“妈妈队员” 平均身高1米72</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343728455_114988" target="_blank">探秘女民兵方队：有81位“妈妈队员” 平均身高1米72</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343755091_260616" target="_blank">广东惠州限价令到期楼市即将涨价？市住建局回应了</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343755091_260616" target="_blank">广东惠州限价令到期楼市即将涨价？市住建局回应了</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343751081_115479" target="_blank">任正非：为了公平 华为5G只授权给1家美企</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343751081_115479" target="_blank">任正非：为了公平 华为5G只授权给1家美企</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343763693_114988" target="_blank">九寨沟震后两年终于开放！游客感叹“照相不用加滤镜”</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343763693_114988" target="_blank">九寨沟震后两年终于开放！游客感叹“照相不用加滤镜”</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343793254_114911" target="_blank">美参院外委会通过&#34;台北法案&#34; 中方:毫无道理 自相矛盾</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343793254_114911" target="_blank">美参院外委会通过&#34;台北法案&#34; 中方:毫无道理 自相矛盾</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343744838_123753" target="_blank">比“OK”手势要注意！已经被白人至上当代表符号</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343744838_123753" target="_blank">比“OK”手势要注意！已经被白人至上当代表符号</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343800485_115479" target="_blank">特朗普“自信”警告：若我被弹劾 股市就崩盘</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343800485_115479" target="_blank">特朗普“自信”警告：若我被弹劾 股市就崩盘</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343714793_123753" target="_blank">机场装有30万美元的行李失踪 地勤人员被逮捕</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343714793_123753" target="_blank">机场装有30万美元的行李失踪 地勤人员被逮捕</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343754058_177992" target="_blank">这只银行股一夜暴跌12% 2300亿美元洗钱案再起波澜？</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343754058_177992" target="_blank">这只银行股一夜暴跌12% 2300亿美元洗钱案再起波澜？</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343793375_114911" target="_blank">俄代表团赴美参加联大遭拒签 俄外长称将给美国送&#34;惊喜&#34;</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343793375_114911" target="_blank">俄代表团赴美参加联大遭拒签 俄外长称将给美国送&#34;惊喜&#34;</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343719125_161795" target="_blank">纪委书记称遭诬告 自杀获救10天后被查今被双开</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343719125_161795" target="_blank">纪委书记称遭诬告 自杀获救10天后被查今被双开</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="https://www.sohu.com/a/343728295_120146415" target="_blank">出轨、异地、三观不合之后 他们还是拍了离婚纪念照</a> -sohu </div>

    <!-- <h5>∗ <a href="https://www.sohu.com/a/343728295_120146415" target="_blank">出轨、异地、三观不合之后 他们还是拍了离婚纪念照</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343806671_115479" target="_blank">俞敏洪再惹众怒:你工资比同学少一半 证明生命已浪费一半</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343806671_115479" target="_blank">俞敏洪再惹众怒:你工资比同学少一半 证明生命已浪费一半</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343689006_115479" target="_blank">男子墓地盗得一部陪葬手机 转账获利近万元后被抓</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343689006_115479" target="_blank">男子墓地盗得一部陪葬手机 转账获利近万元后被抓</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343754052_338398" target="_blank">老公出轨后女子在其手机装“防小三”软件 结果悲剧了</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343754052_338398" target="_blank">老公出轨后女子在其手机装“防小三”软件 结果悲剧了</a> -sohu</h5> -->
    

    <div class="alert alert-info" role="alert"> <a href="http://www.sohu.com/a/343703433_267106" target="_blank">初中儿子没法学习报警求助：妈妈不是玩手机就是看电视</a> -sohu </div>

    <!-- <h5>∗ <a href="http://www.sohu.com/a/343703433_267106" target="_blank">初中儿子没法学习报警求助：妈妈不是玩手机就是看电视</a> -sohu</h5> -->
    
    <p>

        <div class="post-reward">
  <label class="reward-button" for="reward">赞赏支持</label>
  <div class="qr-code">

    <label class="qr-code-image" for="reward">
      <img class="image" src="https://www.readmorejoy.com/static/wechat-qr-code.png">
      <span>微信打赏</span>
    </label>

    <label class="qr-code-image" for="reward">
      <img class="image" src="https://www.readmorejoy.com/static/alipay-qr-code.jpeg">
      <span>支付宝打赏</span>
    </label>
  </div>
</div>

  </div>

</body>

</html>