<!DOCTYPE html>
<html>

<head>
  <title>EnjoySearch 喜欢搜索</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="https://www.readmorejoy.com/static/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="EnjoySearch 喜欢搜索，快速高效搜索引擎工具" />

  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://www.readmorejoy.com/static/reward.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/bootbox.js/5.3.2/bootbox.min.js"></script>

</head>

<body>

  <script type="text/javascript">
    $(document).ready(function() {

      $(".reward-button").click(function() {
        $(".reward-button").hide()
        $(".qr-code").show();
      })
      $(".qr-code").click(function() {
        $(".reward-button").show()
        $(".qr-code").hide();
      })

    });
  </script>

  <div class="container">
    <input type="button" class="btn btn-outline-success" value="首页" onclick="window.location.href=('/')">
    <input type="button" value="更好的搜索" class="btn btn-success" onclick="window.location.href=('/search')">

    <br /><br /><br />
    
    <h6>∗ <a href="https://news.sina.com.cn/c/xl/2019-09-27/doc-iicezueu8616189.shtml" target="_blank">让各民族手足相亲守望相助</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/gov/xlxw/2019-09-27/doc-iicezueu8662013.shtml" target="_blank">人间正道是沧桑</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/gov/xlxw/2019-09-27/doc-iicezzrq8703372.shtml" target="_blank">中国人民一定能</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8583995.shtml" target="_blank">美方通过所谓“台北法案”</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8587157.shtml" target="_blank">加媒指责中俄借文化交流获取情报</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8610627.shtml" target="_blank">中国是否参加日本阅舰式？</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8631546.shtml" target="_blank">国庆节临近 驻港部队有何庆祝活动?</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/w/2019-09-27/doc-iicezueu8647134.shtml" target="_blank">举报者身份曝光</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezueu8618380.shtml" target="_blank">害特朗普卷入“通乌门” 拜登到底干了啥？</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/gov/xlxw/2019-09-26/doc-iicezueu8527082.shtml" target="_blank">习近平寄语“中国新名片”</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8580842.shtml" target="_blank">人间正道 共和国这样走来</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8583995.shtml" target="_blank">美方通过所谓“台北法案”</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8587157.shtml" target="_blank">加媒指责中俄借文化交流获取情报</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8610627.shtml" target="_blank">中国是否参加日本阅舰式？</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8631546.shtml" target="_blank">新型两栖攻击舰首舰下水有何考虑？</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezzrq8603757.shtml" target="_blank">特朗普“求帮忙”通话记录公布(全文)</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezueu8546882.shtml" target="_blank">特朗普回应：真是个笑话</a> sina</h6>
    
    <h6>∗ <a href="https://ent.sina.com.cn/s/m/2019-09-26/doc-iicezzrq8645169.shtml" target="_blank">沈腾晒“另类”晚餐回应长胖</a> sina</h6>
    
    <h6>∗ <a href="https://ent.sina.com.cn/y/yneidi/2019-09-26/doc-iicezueu8612077.shtml" target="_blank">张杰谢娜互相甜蜜表白庆结婚周年</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8558085.shtml" target="_blank">国庆阅兵女将军领队曝光 含新中国首位女飞行师长</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8620966.shtml" target="_blank">看了大陆阅兵训练 台媒不禁感叹：这边就是草莓兵</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8537035.shtml" target="_blank">万亿级地方国企董事长王凤朝任四川副省长(图)</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8612180.shtml" target="_blank">这名省部级被查半年前还收钱 庭审时满头白发(图)</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8538148.shtml" target="_blank">商务部:不可靠实体清单制度不是针对任何一国企业</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8537035.shtml" target="_blank">万亿级地方国企董事长王凤朝任四川副省长(图)</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8474547.shtml" target="_blank">云南原书记秦光荣被开除党籍：发表违背中央精神言论</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8631191.shtml" target="_blank">又多一人 六个落马“老虎”都曾插手案件处理</a> sina</h6>
    
    <h6>∗ <a href="http://tech.sina.com.cn/zt_d/2019championsofearth/" target="_blank">2019联合国地球卫士奖颁奖典礼</a> sina</h6>
    
    <h6>∗ <a href="http://zhibo.sina.com.cn/tech/38544" target="_blank">曹国伟致辞</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8620888.shtml" target="_blank">27名日籍解放军获颁庆祝新中国成立70周年纪念章</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/w/2019-09-27/doc-iicezueu8638050.shtml" target="_blank">为特朗普选区量身打造？《第一滴血5》陷政治争议</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/w/2019-09-27/doc-iicezueu8638040.shtml" target="_blank">特朗普夸莫迪“印度之父” 没想到引爆印度政坛</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8539918.shtml" target="_blank">任正非：5G不是授权所有西方公司 而是一家美企</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8455217.shtml" target="_blank">近两年“活捉满广志”口号在全军叫得很响 咋回事</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezzrq8612180.shtml" target="_blank">这名省部级被查半年前还收钱 庭审时满头白发(图)</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezueu8540015.shtml" target="_blank">外媒：沙特王储称对卡舒吉谋杀事件承担全部责任</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezueu8585555.shtml" target="_blank">&#34;世界上最美的未嫁公主&#34;订婚了 未婚夫是亿万富翁</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8603303.shtml" target="_blank">国庆前夕 这部10年前的中国电视剧突然走红伊拉克</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/s/2019-09-27/doc-iicezueu8638516.shtml" target="_blank">大爷卖了一台废旧洗衣机没想到值10万元 瞬间瘫软</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/s/2019-09-26/doc-iicezzrq8658092.shtml" target="_blank">现实版小红帽 美国5岁女孩在自家院里遇到狼(图)</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/o/2019-09-26/doc-iicezueu8585555.shtml" target="_blank">&#34;世界上最美的未嫁公主&#34;订婚了 未婚夫是亿万富翁</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/s/2019-09-26/doc-iicezueu8422560.shtml" target="_blank">小伙吃螃蟹后肺和脑子被虫啃 这个教训现在看不晚</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/s/2019-09-26/doc-iicezzrq8528044.shtml" target="_blank">潜水员拍摄白鲸将相机掉落 沉入水底神奇一幕发生</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/c/2019-09-26/doc-iicezueu8510058.shtml" target="_blank">香港顶级开发商免费送土地给市民 拿出27万平方米</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/zx/2019-09-26/doc-iicezueu8573190.shtml" target="_blank">法前总统希拉克逝世</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/w/2019-09-26/doc-iicezzrq8642574.shtml" target="_blank">曾预测:中国必将成世界第一</a> sina</h6>
    
    <h6>∗ <a href="http://finance.sina.com.cn/zt_d/rzfhw_12/" target="_blank">任正非：华为真活下来了 明年上半年财报还会好</a> sina</h6>
    
    <h6>∗ <a href="https://finance.sina.com.cn/roll/2019-09-27/doc-iicezueu8624944.shtml" target="_blank">国庆长假资金不站岗 这五招让你休市也能“钱生钱”</a> sina</h6>
    
    <h6>∗ <a href="http://news.sina.com.cn/zxt/#305686139" target="_blank">印度医院轮椅突然自己滑走 员工拒上夜班</a> sina</h6>
    
    <h6>∗ <a href="https://news.sina.com.cn/zx/2019-09-26/doc-iicezueu8573190.shtml" target="_blank">法媒：法国前总统希拉克逝世 享年86岁(图)</a> sina</h6>
    
    <h6>∗ <a href="http://finance.sina.com.cn/zt_d/rzfhw_12/" target="_blank">任正非：华为真活下来了 明年上半年财报还会好</a> sina</h6>
    
    <h6>∗ <a href="https://finance.sina.com.cn/chanjing/gsnews/2019-09-26/doc-iicezueu8515938.shtml" target="_blank">全球第一家旅行社破产启示录:存世178年 负债141亿元</a> sina</h6>
    
    <h6>∗ <a href="http://news.sina.com.cn/zxt/#305686139" target="_blank">印度医院轮椅突然自己滑走 员工拒上夜班</a> sina</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343608644_428290?g=0?code=4afeee585bd0c5a4d76895d234e2affc" target="_blank">《烈士纪念设施规划建设修缮管理维护总体工作方案》印发</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343692599_119038?g=0?code=9aa24385fa4ddd384ad7bea6ee54f204" target="_blank">以习近平同志为核心的党中央关心少数民族和民族工作纪实</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343672660_114731?g=0?code=b77cf7da5ae8badb89c06b0ec5edf249" target="_blank">人间正道是沧桑</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343704264_428290?g=0?code=958937329b69aa308fe9fbf5e1c21764" target="_blank">中国人民一定能，中国一定行</a> sohu</h6>
    
    <h6>∗ <a href="http://www.qstheory.cn/zt2019/llxjj/index.htm?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">理上网来</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343503889_115376?code=38dc49a9bc324733fe4139ec33a5beb9" target="_blank">56个民族同唱这首歌</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343442495_362042?g=0?code=b22373bba32a02ab0132be8016d1289b" target="_blank">未来之中国 必将以更加开放的姿态拥抱世界</a> sohu</h6>
    
    <h6>∗ <a href="http://tv.cctv.com/2019/09/25/VIDEwKmXYJf7CANUPDc91qHL190925.shtml?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">《我们走在大路上》第19集</a> sohu</h6>
    
    <h6>∗ <a href="http://tv.cctv.com/2019/09/25/VIDE05hdayNT5jOtXWB6UhFg190925.shtml?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">第20集</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343411465_115239?g=0?code=36d972a1a4d12d05a78a593e25699580" target="_blank">最美奋斗者</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343342596_123753?g=0?code=5406362f0d11845337de5a9f88256820" target="_blank">踏平坎坷</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343568073_266317?g=0?code=fdbd53a0c2d53d363e6d843827ab112e" target="_blank">70年伟大成就与中国共产党人的初心使命</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/subject/316812?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">家国70</a> sohu</h6>
    
    <h6>∗ <a href="https://www.sohu.com/subject/317574?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">爱香港</a> sohu</h6>
    
    <h6>∗ <a href="https://tv.sohu.com/v/dXMvMjAxMTE5ODUzLzE1NDQwNzUzNy5zaHRtbA==.html?code=9ac3c2d783ff4956cc2f9774980cbb52" target="_blank">马尔库斯的“中国攻略”</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343394504_162522?g=0?code=57bbb7e056cb50aeb4ac8c70cd57f8c6" target="_blank">环球时报社评</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343633322_115239?g=0?code=3423eab2faf6b898e4fe00f92912afa1" target="_blank">北京大兴国际机场</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343557414_162758?g=0?code=19ac15021611a03ce9aca7b7f9ea441b" target="_blank">边疆党旗红</a> sohu</h6>
    
    <h6>∗ <a href="https://www.sohu.com/a/343631030_585752?g=0?code=db622c1e0e08c39773429a7538bde244" target="_blank">广东24小时</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343309845_362042?g=0?code=ac121fc05f142f7a1aade822565eaa2b" target="_blank">体验京雄城铁</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343631754_162758?g=0?code=4cb21adcbd4d9a2deed519f8c3fe34ab" target="_blank">见证&#34;凤凰&#34;展翅的奇迹</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343660508_114731" target="_blank">31省份养老服务政策全出炉 官方喊话扩大供给</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343630399_260616" target="_blank">国庆阅兵女兵方队两名领队女将军 她们是谁？</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343645113_114988" target="_blank">27名日籍解放军战士获颁庆祝新中国成立70周年纪念章</a> sohu</h6>
    
    <h6>∗ <a href="https://www.sohu.com/a/343686892_765855" target="_blank">国庆长假将迎自驾出行高峰 忙着计划旅游也别忘了这些事</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343635207_114911" target="_blank">国庆前夕，这部10年前的中国电视剧突然走红伊拉克</a> sohu</h6>
    
    <h6>∗ <a href="https://www.sohu.com/a/343504985_120146415" target="_blank">无人机飞手的广袤世界：群山中的国旗、阿勒泰的河、达卡的人</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343671937_123753" target="_blank">五角大楼宣布向沙特增派200美军并部署爱国者导弹</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343697941_260616" target="_blank">法国北部化工厂大火 恐危及塞纳河</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343695899_123753" target="_blank">阿尔卑斯山最高峰冰川要塌 意大利总理发出警告</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343687792_260616" target="_blank">特朗普费尽心思搜罗黑材料 拜登父子在乌克兰到底做了什么</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343695199_115362" target="_blank">三星长女离婚案二审宣判 男方分得8000余万元仍不满意</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343684112_162522" target="_blank">安倍对美贸易大让步招国内痛骂 日本前大使：这是全面投降</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343689749_115362" target="_blank">部分银行暂停外部大数据风控合作 收紧消费信贷门槛</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343621341_260616" target="_blank">男子越狱潜逃32年漂白身份 被抓时已是建筑公司老板</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343699490_260616" target="_blank">网警：两百名“抠脚大汉”伪装美女 在线陪玩诈骗超千万</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343680850_260616" target="_blank">自家小区车库里小孩被抢？长沙警方发布通报</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343689006_115479" target="_blank">男子墓地盗得一部陪葬手机 转账获利近万元后被抓</a> sohu</h6>
    
    <h6>∗ <a href="http://www.sohu.com/a/343703433_267106" target="_blank">初中儿子没法学习报警求助：妈妈不是玩手机就是看电视</a> sohu</h6>
    
    <p>

        <div class="post-reward">
  <label class="reward-button" for="reward">赞赏支持</label>
  <div class="qr-code">

    <label class="qr-code-image" for="reward">
      <img class="image" src="https://www.readmorejoy.com/static/wechat-qr-code.png">
      <span>微信打赏</span>
    </label>

    <label class="qr-code-image" for="reward">
      <img class="image" src="https://www.readmorejoy.com/static/alipay-qr-code.jpeg">
      <span>支付宝打赏</span>
    </label>
  </div>
</div>

  </div>

</body>

</html>