<!DOCTYPE html>
<html>
<head>
    <title>TellYou</title>
    <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
</head>
<body>

<div class="container" align="center" >
  <form action="/tellyou" method="post" >
      <textarea name="message" style="width:100%;height:400px;overflow:scroll:none;resize:none;margin:0 auto"> </textarea>
      <br><br>
      <button type='submit'>Thank You</button> <button onclick="window.close()">Thank</button>
  </form>

</div>


</html>
